body, html{
    height: 100%;
    z-index: 1;
    margin:0;
    padding:0;
}

.content-box{
    z-index: 1;
    height: 100%;
}

.content-box_game{
    height: 100%;
    z-index: -10;
}

canvas{
    z-index: -10;
    position: fixed;
    filter: invert(100%);
}

.content-box_overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    z-index: 2;
    font-size: 50pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}